@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}
header{
    width: 100vw;
    height: 10vh;
}
#logoHeader{
    display: flex;
    justify-content: center;
    align-self: center;
}
#logo{
    min-width: 10vw;
    width: 14vw;
    height: 10vh;
}
main {
    justify-content: center;
    display: flex;
}
.container{
    margin-top: 20px;
    overflow: hidden;
    overflow-y: auto;
    width: 80vw;
    height: 80vh;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #222020; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: white;
    height: 80px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #858383;
  }

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(225, 225, 225, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 20vw;
    height: 37vh;

}
.card-image{

    width: 200px;
    height: auto;
}
.pokedex{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
}
.atributos{
    display: flex;
    flex-direction: column;
}
.card-name{
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    color: white;
}
.card:hover{
    background: rgba(44, 156, 41, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.card-title{
    color: white;
}
.card-subtitle{
    font-family: 'Acme', sans-serif;
    font-size: 12px;
    color: rgb(5, 24, 1);
}
.type-tag-steel {
	color: #f4f4f4;
}

.type-tag-fire {
	color: #FDDFDF;
}

.type-tag-grass {
	color: #DEFDE0;
}

.type-tag-electric {
	color: #FCF7DE;
}

.type-tag-water, .type-tag-ice {
	color: #DEF3FD;
}

.type-tag-ground {
	color: #f4e7da;
}

.type-tag-rock {
	color: #d5d5d4;
}

.type-tag-fairy {
	color: #fceaff;
}

.type-tag-poison {
	color: #98d7a5;
}

.type-tag-bug {
	color: #f8d5a3;
}

.type-tag-dragon {
	color: #97b3e6;
}

.type-tag-psychic {
	color: #eaeda1;
}

.type-tag-flying {
	color: #F5F5F5;
}

.type-tag-fighting {
	color: #E6E0D4;
}

.type-tag-normal {
	color: #F5F5F5;
}